<div class="container">
  <button class="btn btn-lg btn-outline-primary" (click)="openModal(content)">Add new  <i class="fa fa-plus"></i></button>
 

</div>
<h2>List of Books</h2>
<div class="table-wrapper">
    <table class="fl-table">
        <thead>
        <tr>
            <th>ISBN</th>
            <th>Title </th>
            <th>Category </th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Author</th>
            <th>Image</th>
            <th>Options</th>
        </tr>
        </thead>
        <tbody>
          <tr *ngFor="let d of data">
            <th scope="row">{{d.isbn}}</th>
            <td>{{d.title}}</td>
            <td>{{d.category}}</td>
            <td>{{d.price}}</td>
            <td>{{d.quantity}}</td>
            <td>{{d.author}}</td> 
            <td><img src="{{d.imageFile}}" height="40"></td>
            <td>
              <button class="btn btn-sm btn-success" (click)="open(content,d)"><i class="fa fa-edit"></i> </button> 
              <button class="btn btn-danger btn-sm" (click)="deleteBook(d.isbn)" ><i class="fa fa-trash"></i> </button> 
            </td>
  
          </tr>
     
        <tbody>
    </table>
    <i>{{loading}}</i>
</div>
 


 


 
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Book Edit</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]='form' (ngSubmit)="saveBook()">
      <div class="form-group">
        <label for="">I.S.B.N </label>
        <input type="email" class="form-control" formControlName="isbn" aria-describedby="emailHelp" placeholder="ISBN">
        
      </div>
      <div class="form-group">
          <label for="">Title of book </label>
          <input type="email" class="form-control"  formControlName="title" aria-describedby="emailHelp" placeholder="Title">
          
        </div>
        <div class="form-group">
          <label for=" ">Book Category </label>
          <select class="form-control" formControlName="category" >
              <option value="Books"> Books</option>
              <option value="Audio_Books"> Audio Books</option>
              <option value="Videos"> Videos</option>
              <option value="Music"> Music</option> 
          </select> 
          
        </div>
        <div class="form-group">
          <label for="">Author </label>
          <select class="form-control" formControlName="author" >
              <option value="Harper_Collins"> Harper Collins</option>
              <option value="Penguins"> Penguins  </option>
              <option value="St_Pauls_Publication"> St Pauls Publication</option>
              <option value="Franciscan_Media"> Franciscan Media</option> 
              <option value="Orbis">Orbis</option> 
          </select> 
            
        </div>
        <div class="form-group">
          <label for="">Price  of book</label>
          <input type="email" class="form-control" formControlName="price" aria-describedby="emailHelp" placeholder="Price">
          
        </div>
        <div class="form-group">
          <label for="">Quantity  </label>
          <input type="email" class="form-control" formControlName="quantity" aria-describedby="emailHelp" placeholder="Quantity at hand">
          
        </div>
        <div class="form-group">
          <label for="">Image </label>
          <div class="form-group">
             
  
                  <label>Upload cover</label> 
                
                      <input type="file" (change)="fileChangeEvent($event)" class="fileInputProfile">
                      <div class="img-space">
  
                          <ng-container *ngIf="isImageSaved">
                              <img [src]="cardImageBase64" height="150px" />
                          </ng-container>
                        
  
                      </div>
  
                 
            
          </div>
          
        </div>
        <div class="form-group">
           <button type="submit" class="btn btn-outline-warning">Save</button>
           <div> <h3 class="text-warning">{{message}}</h3></div>
        </div>
      
     
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Close</button>
  </div>
</ng-template>



