 
		
  <section class="page-wrap">


    <header> <!-- Defining the header section of the page with the appropriate tag -->
      
      <div>
        <h1>Fitzroy Catholic bookstore</h1>
       <p><img src="assets/booklogo.png" height="100" alt=""/></p>
      </div>

      <nav> <!-- The nav link semantically marks your main site navigation -->
        <ul>
          <li>  <a class="nav-item nav-link active" routerLinkActive="active-link" routerLink="/home-page">Home </a></li>
          <li><a class="nav-item nav-link" routerLinkActive="active-link"   routerLink="/site-map-page">Site map</a></li>
          <li> <a class="nav-item nav-link" routerLinkActive="active-link"  routerLink="/search-page">SearchBook</a></li>
          <li> <a class="nav-item nav-link  " routerLinkActive="active-link"  routerLink="/maintanance-page">Maintenance </a></li> 
        </ul>
      </nav> 
    </header> 
    <article id="block1" class="module-block">
  
      <router-outlet></router-outlet>
    </article>
    

  

    
  
    
  </section><!-- page-wrap -->
    

  <footer> 
 

    <p>Copyright 2020 - <a href="#">Fitzroy Catholic bookstore</a></p>
   

  </footer>


  <ng-http-loader></ng-http-loader>
 