<div class="container-fluid well">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1 class="text-primary text-uppercase">Welcome to Bookstore</h1>
            <h4 class="slogan">A classic bookstore</h4>
        </div>
    </div>
    <div class="row">
      
        <div class="col-md-8">
            <h2 class="text-primary">About this book store</h2>
            <p class="text-justify">
                <img
        width="400"
        alt="Angular Logo"
        src="/assets/bookstore.jpg"
      />
                Kenneth E. Hagin was born on the 20th of August, 1917. As a young child, he suffered from a terminal blood disease (deformed heart) that left him bedridden at age 15. As his illness grew worse, his parents, Jess Hagin and Lillie Viola had began making
                furneral arrangements to bid their son a peaceful farwell. It was in April 1933, he died and was resurrected on three occassions, each time seeing the horrors of hell and then returning to life. This experience was the turning point of his life as
                he recieved Jesus as his Lord and saviour. Thereafter Jesus completely healed him of the terminal disease with a scripture that eventually birthed the Rhema Bible Church.</p>
            <h2 class="text-primary">History</h2>
            <p class="text-justify">In 1949, Hagin began an itinerant ministry as a Bible teacher and evangelist. At the same time he recieved full admission into the Full Gospel Business Men's Fellowship International. He was also a part of a major healing revival in U.S that took
                place in the the 40s and 50s. Kenneth E. Hagin Evangelistic Association was incorporated in 1963 and became the the corner stone for numerous media outreaches and ministries which includes: </p>
       
        </div>
    </div>
</div>

 